<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>fun</Title>
			<Shortcut>fun</Shortcut>
			<Description>Code snippet for function with no parameters</Description>
			<Author>UntappedKegg</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>visibility</ID>
					<ToolTip>Visibility modifier</ToolTip>
					<Default>private</Default>
				</Literal>
				<Literal>
					<ID>returntype</ID>
					<ToolTip>Return type</ToolTip>
					<Default>void</Default>
				</Literal>
				<Literal Editable="false">
					<ID>name</ID>
					<ToolTip>Function name</ToolTip>
					<Default>MyFunction</Default>
				</Literal>
			</Declarations>
			<Code Language="csharp"><![CDATA[
	$visibility$ $returntype$ $name$()
	{
		
	}
	$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>